<!-- <p>add-column works!</p> -->
<div class="bg">
    <form [formGroup]="AddColumnForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="topicName">Topic Name:</label>
          <input id="topicName" type="text" formControlName="topicName">
        </div>
      
        <div >
          <label for="totalMarks">Total Marks:</label>
          <input id="totalMarks" type="number" formControlName="totalMarks">
        </div>
      
        <div class="scorebox" formArrayName="SCCTrainee">
          <div *ngFor="let trainee of SCCTrainee.controls; let i = index" [formGroupName]="i">
            <label for="traineeName">Trainee Name:</label>
            <!-- <input id="traineeName" type="text" formControlName="traineeName"> -->
            <input id="traineeName" type="text" formControlName="traineeName" readonly>
      
            <label for="assessmentScore">Assessment Score:</label>
          <input id="assessmentScore" type="number" formControlName="assessmentScore" (input)="calculatePercentage(i)">
    
          <label for="percentage">Percentage:</label>
          <input id="percentage" type="number" formControlName="percentage" readonly>
    
          </div>
        </div>
      
        <button type="button" (click)="addTrainee()">Add Trainee</button>
    <button type="button" (click)="removeTrainee(SCCTrainee.length - 1)">Remove Trainee</button>
        <button type="submit" (click)="savePost()">Submit</button>
      </form>
    </div>